var unit={
  typeFilter:function(item){
    var statusJson = {};
    var x = "";
    var y = "";
   
    switch (item) {
      case "0":
        x = "待认领";
        y = "#2F4F4F";
      break;
    case "1":
        x = "已认领";
        y = "#00FF00";
      break;
    }
    statusJson.x = x;
    statusJson.y = y;
    return statusJson;
  }
}
module.exports={
  typeFilter:unit.typeFilter
}

